<footer class = 'footer'>
  <div class = 'footer_inner'>
    <p>&copy;<span class = 'year'></span> {{ .Site.Title }}</p>
  </div>
</footer>
<script src = 'https://code.jquery.com/jquery-3.1.0.min.js'   integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s='   crossorigin='anonymous'></script>
<script src = '{{ .Site.BaseURL }}js/index.js'></script>
